<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.leshui.JxfpxxMapper">

	<select id="findOneByParams" parameterType="map" resultType="jxfpxx">
		select * from t_jxfpxx where yxbz = '1'
		<if test="csm != null">
			and csm = #{csm}
		</if>
		limit 1
	</select>

	<select id="findAllByParams" parameterType="map" resultType="jxfpxx">
		select * from t_jxfpxx where yxbz = '1' and cslx = '2'
		<if test="orderBy != null">
			order by #{orderBy}
		</if>
	</select>

	<select id="findByPage" parameterType="pagination" resultType="jxfpxx">
		select * from t_jxfpxx where yxbz = '1'
		<if test="params.gfsh != null and params.gfsh != ''">
			and gfsh = #{params.gfsh}
		</if>
		<if test="params.gfs !=null">
			<foreach collection="params.gfs" open=" and (gfsh in ("
					 separator="," close=")" item="item" index="index">
				#{params.gfs[${index}].xfsh}
			</foreach>
			or gfsh is null)
		</if>
		<if test="params.fpzldm != null and params.fpzldm != ''">
			and fpzldm =#{params.fpzldm}
		</if>
		<if test="params.fpdm != null and params.fpdm != ''">
			and fpdm =#{params.fpdm}
		</if>
		<if test="params.fphm != null and params.fphm != ''">
			and fphm = #{params.fphm}
		</if>
		<if test="params.gsdm != null and params.gsdm != ''">
			and gsdm = #{params.gsdm}
		</if>
		<if test="params.orderBy != null">
			order by lrsj desc
		</if>
	</select>

	<select id="findQrgxByPage" parameterType="pagination" resultType="jxfpxx">
		select * from t_jxfpxx where yxbz = '1'  and gxbz = '1' and rzbz='N'
		<if test="params.gfs !=null">
			<foreach collection="params.gfs" open=" and (gfsh in ("
					 separator="," close=")" item="item" index="index">
				#{params.gfs[${index}].xfsh}
			</foreach>
			or gfsh is null)
		</if>
		<if test="params.gfsh != null and params.gfsh != ''">
			and gfsh = #{params.gfsh}
		</if>
		<if test="params.fpzldm != null and params.fpzldm != ''">
			and fpzldm =#{params.fpzldm}
		</if>
		<if test="params.fpdm != null and params.fpdm != ''">
			and fpdm =#{params.fpdm}
		</if>
		<if test="params.fphm != null and params.fphm != ''">
			and fphm = #{params.fphm}
		</if>
		<if test="params.gsdm != null and params.gsdm != ''">
			and gsdm = #{params.gsdm}
		</if>
		<if test="params.orderBy != null">
			order by xgsj desc
		</if>
	</select>
</mapper>

