<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjxx.taxeasy.dao.JkmbzbMapper">

    <select id="findOneByParams" parameterType="map" resultType="jkmbzb">
        select * from t_jkmbzb where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
        limit 1
    </select>

    <select id="findAllByParams" parameterType="map" resultType="jkmbzb">
        select * from t_jkmbzb where yxbz = '1'
        <if test="orderBy != null">
            order by ${orderBy}
        </if>
    </select>

    <select id="findByPage" parameterType="pagination" resultType="jkpzvo">
        select a.*, b.pzcsm,c.csm,c.cszff,b.pzcsmc
        from t_jkmbzb a,
        t_jkpzb b,
        t_jkpzdmb c
        where a.pzbid = b.id AND  a.cszffid = c.id
        AND c.pzbid = b.id
        <if test="params.mbid != null and params.mbid != ''">
            and   mbid = #{params.mbid}
        </if>
        <if test="params.orderBy != null">
            order by ${params.orderBy}
        </if>
    </select>

    <select id="findByMbId" parameterType="map" resultType="jkpzVo">
        select a.*, b.pzcsm,c.csm,c.cszff,b.pzcsmc
        from t_jkmbzb a,
        t_jkpzb b,
        t_jkpzdmb c
        where a.pzbid = b.id AND  a.cszffid = c.id
        AND c.pzbid = b.id
        <if test="mbid != null">
            and a.mbid = #{mbid}
        </if>
    </select>
</mapper>

